
  <!-- System View的 html 定义 -->

<div id="ssvTab" class="tab">
    <p id="ssvTabGnssDemoTitle">Demo演示childView创建 + Html/Js数据同步 + 事件触发 + 私有css</p>
    <ul class="tab-header clearfix">
        <li target="ssvTabGnss" class="tab-header-item" id='ssvTabHeaderGnss'>GNSS</li>
        <li target="ssvTabLan" class="tab-header-item" id='ssvTabHeaderLan'>LAN</li>
    </ul>
    <div class="tab-content" >
        <div id="ssvTabGnss" class="tab-content-view hide">
        </div>
        <div id="ssvTabLan" class="tab-content-view hide">
        </div>
    </div>
</div>