<table class="dataintable"  >
        <p id="ssvtgnssInforDemoTitle">跨对象(组件)数据获取 + ajx交互 + Html/Js数据同步</p>
    <tbody>
        <tr> <th colspan="2" id="ssvtgnssInforTitle">GNSS Information</th></tr>
        <tr> <td class="weight" style="width: 140px"><a id="ssvTabGnssSatNum">卫星数量</a></td> <td><a>{{ssvTabGnssFromLanIP1Val}}</a></td> </tr>
        <tr> <td class="weight"><a id="ssvTabGnssSendNum">发送总条数</a></td> <td><a>{{ssvTabGnssFromLanDHCPVal}}</a></td> </tr>
        <tr> <td class="weight"><a id="ssvTabGnssSuccNum">发送成功次数</a></td> <td><a>{{ssvTabGnssCSysMaintViewNtpVal}}</a></td> </tr>
        <tr> <td class="weight"><a id="ssvTabGnssFailNum">发送失败数</a></td> <td><a>{{ssvTabGnssCDashboardFwVal}}</a></td> </tr>
        <tr> <td colspan="2" class="weight"><button id="ssvTabGnssUpdateBtn"  class="incell" style="width: 200px;text-align: left">UpdateFromSrv</button></td> </tr>
        <tr> <td colspan="2" class="weight"><button id="ssvTabGnssOverObjBtn"  class="incell" style="width: 300px;text-align: left">Update</button></td> </tr>
        <tr> <td><button id="ssvTabGnssUpdateByTheAppGetNodeObjByViewIDBtn"  class="incell" style="width: 300px;text-align: left">UpdateByTheAPpFun</button></td> 
            <td>CSysMaintView=> <a>{{CSysMaintViewNtpVal}}</a></td>
        </tr>
    </tbody>
</table>
