<table class="dataintable">
    <p id="ssvtlanInforDemoTitle">Demo演示事件触发evActived + ajx交互 + Html/Js数据同步 + 私有css</p>
    <tbody>
        <tr> <th colspan="2" id="ssvtlanInforTitle">LAN 信息</th></tr>
        <tr> <td class="weight" style="width: 140px"><a>LAN1 IP</a></td> <td><a>{{ssvTabLan1IP}}</a></td> </tr>
        <tr> <td class="weight"><a>LAN2 IP</a></td> <td><a>{{ssvTabLan2IP}}</a></td> </tr>
        <tr> <td class="weight"><a>DHCP</a></td> <td><a>{{ssvTabDHCPStatus}}</a></td> </tr>
        <tr> <td colspan="2" class="weight"><button id="ssvTabLanUpdateBtn"  class="incell" style="width: 95px">Update</button></td> </tr>
    </tbody>
    <p class="lan-view" id="ssvtlanInforDemoLine">This line demo private css !</p>
</table>
